.alert-container {
    position: fixed;
    right: var(--unit-m);
    bottom: var(--unit-m);
    width: auto;
    z-index: 30;
    display: flex;
    flex-direction: column;
}

.alert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--corner-radius);
    color: var(--fg);
    padding: var(--unit-s);
    margin-top: var(--unit-m);

    &:first-of-type {
        margin-top: 0px;
    }

    &__message {
        display: none;
    }

    &__close {
        display: none;
    }

    &__icon {
        padding: 0px;
    }

    &--info {
        background-color: var(--info-bg);

        .btn {
            color: var(--info);
        }
    }

    &--success {
        background-color: var(--success-bg);

        .btn {
            color: var(--success);
        }
    }

    &--error {
        background-color: var(--error-bg);

        .btn {
            color: var(--error);
        }
    }

    &--warning {
        background-color: var(--warning-bg);

        .btn {
            color: var(--warning);
        }
    }
}

@media (min-width: 1280px) {
    .alert-container {
        max-width: 500px;
    }

    .alert {
        padding: var(--unit-s) var(--unit-m);
        
        &__message {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
        }

        &__close {
            display: block;
        }

        &__icon {
            padding: var(--unit-s) var(--unit-m) var(--unit-s) 0px;
        }
    }
}