button {
    font-size: inherit;
}

.btn {
    border: none;
    border-radius: var(--corner-radius);
    background-color: transparent;
    padding: var(--unit-s) var(--unit-m);
    font-size: 1rem;
    transition: background-color var(--transition-fast) ease,
        transform var(--transition-fast) ease,
        opacity var(--transition-fast) ease;
    cursor: pointer;

    &:active {
        transform: scale(0.9);
    }

    &:hover {
        background-color: var(--btn-hover-bg);
    }

    &--primary {
        color: var(--primary);
    }

    &--secondary {
        color: var(--fg);
    }

    &--borderable {
        border: solid 1px transparent;
    }

    &--border {
        color: var(--fg);
        border: solid 1px var(--fg);
    }

    &--danger {
        color: var(--error);
        border-color: var(--error);
    }

    &--attantion {
        border-color: var(--secondary);
    }

    &--square {
        padding: var(--unit-s);
    }

    &--circle {
        border-radius: 100%;
        padding: var(--unit-s);
    }

    &--small {
        padding: var(--unit-half);
    }

    &--fullwidth {
        width: 100%;
    }

    &--forward {
        background-color: var(--primary);
        color: var(--bg-level-top);
        padding: var(--unit-s);
        opacity: 0.8;

        &:hover {
            background-color: var(--primary);
            opacity: 1;
        }
    }
}

@media (max-width: 959px) { 
    .btn {
        &-sonly--small {
            padding: var(--unit-half);
        }
    }
}

@media (max-width: 1279px) and (min-width: 960px) { 
    .btn {
        &-monly--small {
            padding: var(--unit-half);
        }
    }
}