.card {
    border-radius: var(--corner-radius);
    background-color: var(--bg-level-middle);

    &__header {
        border-top-left-radius: var(--corner-radius);
        border-top-right-radius: var(--corner-radius);
        background-color: var(--bg-level-top);
        padding: var(--unit-m);
        font-size: var(--h3);
    }

    &__body {
        padding: var(--unit-m);
    }

    &__footer {
        display: flex;
        flex-direction: row;
        place-content: center flex-end;
        padding: 0px var(--unit-m) var(--unit-m) var(--unit-m);
    }
}