.context {
    position: absolute;
    top: var(--unit-m);

    &--relative {
        position: relative;
        top: auto;
    }

    &--right {
        right: var(--unit-m);
    }

    &--left {
        left: var(--unit-m);
    }

    &__menu {
        position: absolute;
        top: calc(var(--unit-s) * -1);
        background-color: var(--bg-level-top);
        border-radius: var(--corner-radius);
        z-index: 2;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
    
        &__item {
            width: 100%;
            text-align: left;
            background-color: transparent;
            border: none;
            color: var(--fg);
            padding: var(--unit-m);
            border-radius: var(--corner-radius);
            cursor: pointer;
            white-space: nowrap;
            transition: background-color var(--transition-fast) ease;
        }

        &__item:hover {
            background-color: var(--bg-level-bottom);
        }

        &__close {
            display: flex;
            flex-direction: row;
            padding: var(--unit-s)
        }

        .context--right &__close {
            justify-content: flex-end;
        }
    }

    &--right .context__menu {
        right: calc(var(--unit-s) * -1);
    }

    &--left .context__menu{
        left: calc(var(--unit-s) * -1);
    }
}