.field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: var(--unit-s) 0px;

    &__label {
        display: block;
        box-sizing: border-box;
        width: 50%;
        padding: 0px var(--unit-m);
        color: var(--fg);
        cursor: pointer;
    }

    &__input {
        box-sizing: border-box;
        width: 50%;
        padding: var(--unit-s) var(--unit-m);
        margin: 0px;
        border: 1px solid var(--fg);
        border-radius: var(--corner-radius);
        background-color: transparent;
        color: var(--fg);
        transition: border-color var(--transition-fast) ease;

        &:focus {
            border-color: var(--primary)
        }
    }

    &__error {
        color: var(--error);
        margin-top: 4px;
    }

    &--error {
        .field__label {
            font-size: 12px;
        }

        .field__input {
            border-color: var(--error);
        }
    }
}