select {
    font: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
        linear-gradient(45deg, transparent 50%, var(--fg) 50%),
        linear-gradient(135deg, var(--fg) 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em),
        calc(100% - 15px) calc(1em);
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;
}

select:focus {
    background-image:
        linear-gradient(45deg, transparent 50%, var(--primary) 50%),
        linear-gradient(135deg, var(--primary) 50%, transparent 50%);
}

input {
    font: inherit;
}

.btn-checkbox {
    position: relative;
    border: 1px solid var(--bg-level-bottom);
    background-color: transparent;
    border-radius: 17px;
    color: var(--fg);
    padding: var(--unit-s) var(--unit-m);
    cursor: pointer;
    transition: border-color var(--transition-fast) ease,
        background-color var(--transition-fast) ease;

    &--checked {
        border-color: var(--fg);
    }

    &:hover {
        background-color: var(--bg-level-bottom);
    }
}

.checkbox-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;

    &__item {
        margin: var(--unit-s) var(--unit-s) 0px 0px;
    }
}

.field {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: var(--unit-m);

    &__label {
        display: block;
        box-sizing: border-box;
        width: 35%;
        padding: var(--unit-s) var(--unit-m) var(--unit-s) 0px;
        color: var(--fg);
        cursor: pointer;
    }

    &__input {
        box-sizing: border-box;
        width: 65%;
        padding: var(--unit-s) var(--unit-m);
        margin: 0px;
        border: 1px solid var(--fg);
        border-radius: var(--corner-radius);
        background-color: transparent;
        color: var(--fg);
        transition: border-color var(--transition-fast) ease,
            background-color var(--transition-fast) ease;

        &:focus {
            border-color: var(--primary)
        }

        &:hover {
            background-color: var(--bg-level-bottom)
        }
    }

    &__error {
        color: var(--error);
        margin-top: 4px;
    }

    &--error {
        .field__label {
            font-size: 12px;
        }

        .field__input {
            border-color: var(--error);
        }
    }

    &:first-of-type {
        margin-top: 0px;
    }
}