select {
    font: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em),
        calc(100% - 15px) calc(1em),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.2em;
    background-repeat: no-repeat;
}

select:focus {
    background-image:
        linear-gradient(45deg, transparent 50%, var(--primary) 50%),
        linear-gradient(135deg, var(--primary) 50%, transparent 50%),
        linear-gradient(to right, var(--primary), var(--primary));
  }

input {
    font: inherit;
}

.field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--unit-m);

    &__label {
        display: block;
        box-sizing: border-box;
        width: 50%;
        padding: 0px var(--unit-m);
        color: var(--fg);
        cursor: pointer;
    }

    &__input {
        box-sizing: border-box;
        width: 50%;
        padding: var(--unit-s) var(--unit-m);
        margin: 0px;
        border: 1px solid var(--fg);
        border-radius: var(--corner-radius);
        background-color: transparent;
        color: var(--fg);
        transition: border-color var(--transition-fast) ease;

        &:focus {
            border-color: var(--primary)
        }
    }

    &__error {
        color: var(--error);
        margin-top: 4px;
    }

    &--error {
        .field__label {
            font-size: 12px;
        }

        .field__input {
            border-color: var(--error);
        }
    }

    &:first-of-type {
        margin-top: 0px;
    }
}