.list {
    &__item {
        position: relative;
        border-radius: var(--corner-radius);
        background-color: var(--bg-level-middle);
        margin-top: var(--unit-m);
        transition: background-color var(--transition-fast) ease;

        &:first-child {
            margin-top: 0px;
        }

        &:hover {
            box-shadow: 0px 0px 2px 1px rgba(28,219,207,0.55);
                //-2px 2px 0px 0px rgba(219,74,28,0.55);
        }

        &--active {
            background-color: var(--bg-level-top);
        }

        &__top {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: var(--unit-m);
            font-size: 1.2em;
        }

        &__bottom {
            padding: 0px var(--unit-m) var(--unit-m) var(--unit-m);
        }
    }
}