.list {
    &__item {
        position: relative;
        border-radius: var(--corner-radius);
        background-color: var(--bg-level-middle);
        margin-top: var(--unit-m);
        transition: background-color var(--transition-fast) ease;

        &:first-child {
            margin-top: 0px;
        }

        &--active {
            background-color: var(--bg-level-top);
        }

        &__top {
            // display: flex;
            // flex-direction: row;
            // align-items: center;
            padding: var(--unit-m);
        }

        &__more {
            position: absolute;
            right: var(--unit-s);
            top: var(--unit-s);
        }

        &__bottom {
            padding: 0px var(--unit-m) var(--unit-m) var(--unit-m);
        }
    }
}