.list {
    &__item {
        position: relative;
        border-radius: var(--corner-radius);
        background-color: var(--bg-level-middle);
        margin-top: var(--unit-m);
        transition: background-color var(--transition-fast) ease;

        &:first-child {
            margin-top: 0px;
        }

        &--active {
            background-color: var(--bg-level-top);
        }

        &__top {
            padding: var(--unit-m);
            font-size: 1.2em;
        }

        &__bottom {
            padding: 0px var(--unit-m) var(--unit-m) var(--unit-m);
        }
    }
}