:root {
    --unit-half: 4px;
    --unit-s: 8px;
    --unit-m: 16px;
    --unit-l: 32px;

    --corner-radius: 6px;

    --bg-level-bottom: #323937;
    --bg-level-middle: #282C2A;
    --bg-level-top: #202423;

    --fg: #D3D3D3;

    --primary: #44C2A4;
    --error: #BA2727;

    --h3: 1.3em;

    --transition-fast: 160ms;
}