:root {
    --unit-half: 4px;
    --unit-s: 8px;
    --unit-m: 16px;
    --unit-l: 32px;

    --corner-radius: 5px;

    --bg-level-bottom: #323937;
    --bg-level-middle: #282C2A;
    --bg-level-top: #202423;

    --fg: #D3D3D3;
    --fg-dark: #202423;

    --primary: #1cdbcf;
    --secondary: #db4a1c;
    --btn-hover-bg: rgba(255, 255, 255, 0.1);

    --error: #BA2727;
    --error-bg: #681717;
    --success: #51D23C;
    --success-bg: #27741A;
    --info: #D3D3D3;
    --info-bg: #202423;
    --warning: #BA9127;
    --warning-bg: #685B17;
    --auxilery: #a4a4a4;

    --h1: 2.1em;
    --h2: 1.4em;
    --h3: 1.2em;
    --font-small: 0.7em;

    --transition-fast: 40ms;
}