.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.text {
    &-h2 {
        font-size: var(--h2);
    }
    &-h3 {
        font-size: var(--h3);
    }

    &--small {
        font-size: var(--font-small);
    }

    &--center {
        text-align: center;
    }

    &-ellipsis {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.3em;
    }

    &--primary {
        color: var(--primary)
    }

    &--error {
        color: var(--error);
    }

    &--auxilery {
        color: var(--auxilery)
    }
}

@media (max-width: 959px) { 
    .text {
        &-sonly--center {
            text-align: center;
        }
    }
}

@media (max-width: 1279px) and (min-width: 960px) { 
    .text {
        &-monly--center {
            text-align: center;
        }
    }
}

@media (min-width: 1280px) { 
    .text {
        &-lonly--center {
            text-align: center;
        }
    }
}